body {
	font-family: “Lucida Sans Unicode”, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2.0em;
	color: #4d4d4d;
	}

.wrapper {
	margin: 0px auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 930px;
	}

a {color: #f89900; text-decoration: underline; }
a:hover {color: #f8c300; text-decoration: underline; }
a:visited {color: #ba852f; text-decoration: underline; }
#mygallery a {color: #ccc; text-decoration: none; }

p { margin-bottom: 4px; }
h1 {font-size: 24px; color: #ccc; margin-top: 6px; margin-bottom: 4px; }
h2 {font-size: 18px; color: #000; margin-top: 5px; margin-bottom: 4px; }
h3 {font-size: 15px; color: #333; margin-bottom: 4px; }
h4 {font-size: 12px; color: #666; margin-bottom: 4px; }
h5 {font-size: 10px; color: #999; line-height: 1em; margin-bottom: 4px; }

hr {
  border: 0;
  color: #e9e9e9;
  background-color: #e9e9e9;
  width: 80%;
  height: 1px;
}

/*----Text styling / Paragraphs-----*/

.panelp {color: #8c8683; font-size: 12px;} /*Class for paragraphs inside a panel slider */

#content p img { text-align: center; margin: 5px 6px 6px 0px;}
#content p img.right {float: right; margin: 5px 0px 10px 10px;}
#content p img.simple {background: none; border: none; padding:0; margin: 0}

.news p {border-bottom: 1px solid #e9e9e9; padding-bottom: 10px; margin-bottom: 60px;}
.news p:last-child {border: none; margin-bottom: 0px;}

.home {padding-top: 10px;}
.home img {margin: 0px 5px;}

.highlight {
  background: #efefef;
  padding: 8px;
	line-height: 1.2em;
  margin-bottom: 10px;
}

blockquote {
  background: #efefef;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
	line-height: 1.2em;
}
blockquote p {
  padding: 0 60px;
}

li {
/*  margin-left: 26px; */
}

/*---------------Header Part----------------*/
	
#bigheader {
	height: 300px;
	background: url(/images/carbon_fibre.png);
  background-repeat: repeat;
	overflow: hidden;
	}

#smallheader {
	height: 100px;
	background: url(/images/carbon_fibre.png);
  background-repeat: repeat;
	overflow: hidden;
	}

#logo {
	float: left;
	width: 465px;
	height: 80px;
	padding-top: 15px;
	overflow: hidden;
	}

#logocenter {
	width: 930px;
	padding-top: 150px;
	text-align: center;
}
	
#togglegallery {
	float: right;
	width: 70px;
	height: 55px;
	overflow: hidden;
	padding-top: 45px;
}

	/*-------Search-------*/
	#right {
		float: right;
		width: 250px;
		overflow: hidden;
		height: 60px;
		padding-top: 43px;	
	}
	
	.search input, .search button {
		border: none;
		float: left;
	}
	
	.search input.box {
		color: #666;
		border: 1px solid #666;
		width: 150px;
		height: 15px;
		padding: 2px 5px;
		background: url(../images/bg_1.jpg);
		margin-right: 5px;
	}
	
	.search input.box:focus {
		border: 1px solid #000;
	}
	
	.search button.btn {
		width: 60px;
		height: 22px;
		cursor: pointer;
		text-indent: -9999px;
		background: url(../images/search.png);	
	}
	
	.search button.btn:hover {
		background: url(../images/searcha.png);	
	}

		/*-----------Slide Gallery----------------*/
		
		.stepcarousel{
		position: relative; /*leave this value alone*/
		overflow: scroll; /*leave this value alone*/
		width: 930px; /*Width of Carousel Viewer itself*/
		height: 300px; /*Height should enough to fit largest content's height*/
		}
		
		.stepcarousel .belt{
		position: absolute; /*leave this value alone*/
		left: 0;
		top: 0;
		}
		
		.stepcarousel .panel{
		float: left; /*leave this value alone*/
		overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
		margin-right: 10px; /*margin around each panel*/
		width: 930px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
		}
		
					/*-----------Slide Gallery Panel Styles----------------*/
					
						/*----Panel 1-----*/
		
						#panel1l {
							float: left;
							width: 330px;
							padding-left: 40px;
							padding-top: 40px;
						}
						
						#panel1r {
							float: left;
							width: 520px;
							padding-right: 40px;
							padding-top: 60px;
						}					
						
						/*----Panel 2-----*/
						
						#panel2 {
							padding-top: 30px;
						}
						
						
						/*----Panel 3-----*/
						
						#panel3l {
							float: left;
							width: 520px;
							padding-left: 40px;
							padding-top: 60px;
						}
						
						#panel3r {
							float: left;
							width: 330px;
							padding-right: 40px;
							padding-top: 40px;
						}
						
						/*----Panel 4-----*/
						
						
						/*----Panel 5-----*/



/*---------------Content Part----------------*/

#contentpart {
	border-top: 1px solid #fff;
	background: #fff  url(../images/bg_1.jpg) repeat-x;
	}

#content {
	clear: both;
}

.title {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
	

		/*---------------Menu----------------*/
		
		.menu {
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
			float: left;
			height: 50px;
      margin-left: 0px;
      margin-top: 0px;
			margin-bottom: 4px;
      margin-right: 0px;
			list-style: none;
			}
		
		.menu li {
			float: left;
      margin-left: 0px;
			}
		
		.menu li a{
			float: left;
			color: #a16400;
      font-weight: bold;
			text-decoration:none;
			display: block;
			padding-left: 15px;
			padding-right: 15px;
			height: 36px;
			padding-top: 14px;
			min-width: 35px;
			text-align: center;
			}
		
		.menu li a:hover {
			background: #cccccc;
			color: #fff;
			}
		
		.menu li.current a {
			background: #cccccc;
			color: #fff;
			}
			
		#arrow {
			clear: both;
			height: 39px;
			padding-left: 750px;
			overflow: hidden;
		}
			
					/*---------------3 Column Layout (3 equal columns)----------------*/
					
					#column1 {
						float: left;
						width: 280px;
					}
					
					#column2 {
						float: left;
						width: 280px;
						margin-left: 45px;
						margin-right: 45px;
					}
					
					#column3 {
						float: left;
						width: 280px;
					}
					
					/*---------------2 Column Layout (with small sidebar)----------------*/
					
					#main {
						float: left;
						width: 585px;
					}
					
					#sidebar {
						float: left;
						width: 300px;
						margin-left: 45px;
					}
					
							/*---------------Sidebar menu----------------*/
					
							.sidemenu {
								list-style: none;
							}
							
							.sidemenu li {
								border-bottom: 1px solid #e9e9e9;
								height: 27px;
								padding-top: 8px;
								padding-left: 8px;
								}
							
							/*---------------Contact form----------------*/
							

							#contact-area {
								width: 585px;
							}
							
							#contact-area input, #contact-area textarea {
								padding: 5px;
								width: 356px;
								margin: 0px 0px 10px 0px;
								border: 1px solid #ccc;
							}
							
							#contact-area textarea {
								height: 90px;
							}
							
							#contact-area textarea:focus, #contact-area input:focus {
								border: 1px solid #666;
							}
							
							#contact-area input#submit {
								width: 70px;
								float: right;
								background: #000;
								color: #fff;
								border: 1px solid #e9e9e9; 
								padding: 5px;
								margin-right: 100px;
								cursor: pointer;
							}
							
							label {
								float: left;
								text-align: right;
								margin-right: 15px;
								width: 100px;
								padding-top: 5px;
							}			
							




/*---------------Footer----------------*/

#bottom {
	clear: both;
	margin: 30px 0px 30px 0px;
	padding-top: 10px;
	border-top: 1px solid #e9e9e9;
	text-align: right;
}
	
						
					
					
						
