<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/css/button.css" type="text/css" />

    <script language="javascript" src="/js/email.js"></script>
    {% include analytics.html %}
  </head>
  <body>
    <div id="smallheader">
      <div class="wrapper">
        <div id="logo">
          <a href="/"><img src="/images/ta_logo_inverted.png" alt="Teragon Audio"/></a>
        </div>

        <!--
        <div id="right">
          <form method="get" id="searchform" action="#"> 
            <fieldset class="search"> 
              <input type="text" class="box" /> 
              <button class="btn" title="Search">Search</button> 
            </fieldset> 
          </form>
        </div> 
        -->
      </div>
    </div>
    <div id="contentpart">
      <div class="wrapper">
        {% include menu.html %}
          
        <div id="content">
          <div id="main" class="news">
            <!-- Start content -->
            {{ content }}
            <!-- End content -->
          </div>
          <div id="sidebar">
            <ul class="sidemenu">
              <li><a href="http://static.teragonaudio.com/downloads/{{ page.title }}{{ page.title }}.zip" class="downloadbutton"><b>Download</b></a><p></p></li>
              <li><a href="https://github.com/teragonaudio/{{ page.title }}/zipball/master">Source code</a></li>
              <li><a href="https://github.com/teragonaudio/{{ page.title }}">Project page</a></li>
            </ul>
          </div>
        </div>

        <div style="clear:both;"></div>
        <div id="bottom">
          <p class="footer">
            <b>Having problems with this software?</b> Send an email to
            <script>mail2("support", "teragonaudio", 0, "subject={{ page.title }}", "support at teragonaudio dot com")</script>.
            {% include copyright.html %}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
